@{
    ViewData["Title"] = "AccountLocked";
}

<div class="text-center">
    <h1 class="text-danger">AccountLocked</h1>
    <h6 class="text-danger">You account has locked .</h6>
    <img src="~/Images/AccessDenied.jpg" />
</div>