@model FADemo.Models.BaseInformation.AssetDeprmetHod

@{
    ViewData["Title"] = "AssetDeprmetHodCreate";
}

<h1>AssetDeprmetHodCreate</h1>

<h4>AssetDeprmetHod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssetDeprmetHodCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssetDeprmetName" class="control-label"></label>
                <input asp-for="AssetDeprmetName" class="form-control" />
                <span asp-validation-for="AssetDeprmetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetDeprmetDescription" class="control-label"></label>
                <input asp-for="AssetDeprmetDescription" class="form-control" />
                <span asp-validation-for="AssetDeprmetDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetDeproption" class="control-label"></label>
                <input asp-for="AssetDeproption" class="form-control" />
                <span asp-validation-for="AssetDeproption" class="text-danger"></span>
            </div>
            @*             <div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" asp-for="IsDisabled" /> @Html.DisplayNameFor(model => model.IsDisabled)
            </label>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AssetDeprmetHodIndex">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
