@model FADemo.Models.FixedAsset.AssetCreateBase

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AssetCreateBase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h5>Base</h5>
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssetNumber" class="control-label"></label>
                <input asp-for="AssetNumber" class="form-control" />
                <span asp-validation-for="AssetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetName" class="control-label"></label>
                <input asp-for="AssetName" class="form-control" />
                <span asp-validation-for="AssetName" class="text-danger"></span>
            </div>
            @*             <div class="form-group">
            <label asp-for="AssetRecordUser" class="control-label"></label>
            <input asp-for="AssetRecordUser" class="form-control" />
            <span asp-validation-for="AssetRecordUser" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="AssetRecordDate" class="control-label"></label>
            <input asp-for="AssetRecordDate" class="form-control" />
            <span asp-validation-for="AssetRecordDate" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="AssetTypeId" class="control-label"></label>
                <select asp-for="AssetTypeId" class="form-control" asp-items="ViewBag.AssetTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetDeprmetHodId" class="control-label"></label>
                <select asp-for="AssetDeprmetHodId" class="form-control" asp-items="ViewBag.AssetDeprmetHodId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LastDeprmetHodDate" class="control-label"></label>
                <input type="date" id="currentmonth" asp-for="LastDeprmetHodDate" class="form-control" />
                <span asp-validation-for="LastDeprmetHodDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetAlterModeId" class="control-label"></label>
                <select asp-for="AssetAlterModeId" class="form-control" asp-items="ViewBag.AssetAlterModeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendor" class="control-label"></label>
                <input asp-for="Vendor" class="form-control" />
                <span asp-validation-for="Vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specification" class="control-label"></label>
                <input asp-for="Specification" class="form-control" />
                <span asp-validation-for="Specification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <br>
                <textarea rows="5" cols="49" asp-for="Description"></textarea>
                <br>
                @* <input asp-for="Description" class="form-control">
                <span asp-validation-for="Description" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="AssetStatusId" class="control-label"></label>
                <select asp-for="AssetStatusId" class="form-control" asp-items="ViewBag.AssetStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BeginUseDate" class="control-label"></label>
                <input type="date" id="currentdate" asp-for="BeginUseDate" class="form-control" />
                <span asp-validation-for="BeginUseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetPositionId" class="control-label"></label>
                <select asp-for="AssetPositionId" class="form-control" asp-items="ViewBag.AssetPositionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeReferenceId" class="control-label"></label>
                <select asp-for="EmployeeReferenceId" class="form-control" asp-items="ViewBag.EmployeeReferenceId"></select>
            </div>
            <br>
            <div class="form-group">
                <label>FileType includdes jpg,png,pdf. limit 10MB</label>
                <input type="file" name="files" multiple accept="image/png, image/jpeg,.pdf" />
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#DepartmentId').change(function () {
            var departmentId = $(this).val();
            $.getJSON('@Url.Action("GetEmployees")', { departmentId: departmentId }, function (cities) {
                var citiesSelect = $('#EmployeeReferenceId');
                citiesSelect.empty();
                $.each(cities, function (index, city) {
                    citiesSelect.append($('<option/>', {
                        value: city.value,
                        text: city.text
                    }));
                });
            });
        });
    </script>
    <script>
        var today = new Date();
        var year = today.getFullYear();
        var month = today.getMonth() + 1;
        var day = today.getDate();

        var formattedDate = year + "-" + (month < 10 ? "0" + month : month) + "-" + (day < 10 ? "0" + day : day);
        var formattedMonth = year + "-" + (month < 10 ? "0" + month : month) + "-" + "01";

        document.getElementById("currentdate").value = formattedDate;
        document.getElementById("currentmonth").value = formattedMonth;
    </script>
}
